.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-size: 1.6rem;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.6) scaleY(1.4);
      opacity: 0;
    }
  }
  &-white {
    color: $color-grey-dark;
    background-color: $color-white;
    &::after {
      background-color: $color-white;
    }
  }
  &-green {
    color: $color-white;
    background-color: $color-primary;
    &::after {
      background-color: $color-primary;
    }
  }
  .btn:active {
    transform: translateY(-1px);
  }
  &:after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}
.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
    text-decoration: none;
    padding: 3px;
    display: inline-block;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    animation-name: ji 2s;
    transform: translateY(-2px);
  }
  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
