.story {
  height: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  // & > * {
  //   transform: skewX(12deg);the image not skewed b/c it is only tranlated b/c in css two transform proprety of the same element or class is  is not possible in css
  // }therefore we must put it differently as the bellow
  &-shape {
    width: 15rem;
    height: 15rem;

    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);

    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
  }
  &-img {
    width: 100%;
    height: 100%;
    transform: scale(1.4);
    transition: all 0.4s;
  }
  &-text {
    transform: skewX(12deg);
  }
  &-caption {
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(20%);
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.4s;
    backface-visibility: hidden;
  }
  &:hover &-caption {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
  &:hover &-img {
    transform: scale(1);
    filter: blur(3px) brightness(80%);
  }
}
